/* LARGE SCREENS */
@media screen and (min-width: 1280px){
	.container { max-width:1220px; }
}


/* TABLET SCREENS (LANDSCAPE) */
@media screen and (max-width: 1024px){
    	
	/* LANGUAGE SWITCHER */
	.languages .language-list { display:none; visibility:visible; opacity:1; }
	.languages:hover .language-list { display:block; visibility:visible; opacity:1; }
	
	
	/* MAIN MENU DROPDOWN */
	.menu-main li ul { display:none; visibility:visible; opacity:1; }
	.menu-main li:hover > ul { display:block; visibility:visible; opacity:1; }
    
}


/* TABLET SCREENS (PORTRAIT) */
@media screen and (max-width: 800px){
    	
	.container { padding:0 20px; }
    
	
	/* CONTENT */
	.content { float:none; width:auto; margin:30px 0 50px; }
	.content-submenu { float:none; width:auto; margin:0 0 50px; }
	.sidebar { clear:both; float:none; width:auto; }
	.sidebar .widget { overflow:hidden; }
	.sidebar .widget > li { float:left; width:47%; }
	.sidebar .widget > li:nth-child(odd) { margin-right:6%; }
	.submenu { float:none; width:auto; }
	
}


/* SMARTPHONE SCREENS */
@media only screen and (max-width: 600px){
	
	h1 { font-size:2em; } 
	h2 { font-size:1.8em; } 
	h3 { font-size:1.4em; } 
	h4 { font-size:1.2em; } 
	h5 { font-size:1.1em; } 
	h6 { font-size:1.0em; }
	
	/* LAYOUT COLUMNS */
	.container { padding:0 10px; }
	.column { float:none; width:auto; margin:0; }
	.gallery .column { float:none; width:auto; margin:0 0 1%; }
	.image-gallery .column { float:none; width:auto; margin:0 0 1%; }
	
	.languages img { display:none; }
	
	/* MAIN MENU */
	.menu-main { display:none; }
	.menu-mobile { display:block; }
	
	
	/* INLINE IMAGES */
	.alignleft, img.alignleft { max-width:40%; margin-right:10px; }
	.alignright, img.alignright { max-width:40%; margin-left:10px; }
	
	
}